body {
  background-color: rgb(230, 230, 230);
  color: #1572A1;
  font-family: 'Lora', serif;
  font-size: 17px;
  font-weight: lighter;
}

h1, h2, h3 {
 font-family: 'Roboto', sans-serif;
}

h1 {
    color: #1572A1;
    font-weight: 900;
    letter-spacing: 4px;
    font-size: 32px;
}

h2 {
  color: #1572A1;
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: lighter;
  font-weight: 300;
}

body {
  background-color: #EFEFEF;
  color: #86C6F4;
}

a {
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  color: #1572A1;
}
a:hover {
  color: blue;
}





